# Files and folders to ignore

# Files and folders created by Eclipse
.classpath
.project
.settings/
WebContent/.tmp_*

# Build files
build/

# The META-INF folder
WebContent/META-INF/

# The lib folder and its .jar files
WebContent/WEB-INF/lib/

