body {
	font-family: Verdana, "Sans Serif";
	margin: 0;
	font-size: 12px;
	background: url(Bilder/bg.jpg) top left repeat;
}

a {
	outline: none;
	text-decoration: none;
	color: #70a7bf;
}

a, a:focus, input:focus {
	outline: none;
}

table {
	empty-cells: hide;
}

td {
	vertical-align: top;
}

a:hover {
	text-decoration: underline;
}

.meta {
	font-size: 10px;
}

.displayLinebreak {
	white-space: pre-line;
}

/* TODO */
#top {
	line-height: 44px;
	color: #c4daf1;
	padding: 0 20px;
	height: 44px;
}

/* TODO */
#top input[type=password], #top input[type=text] {
	height: 33px;
	line-height: 33px;
	border: none;
	margin: 0 5px;
	background: #4d98e3;
	color: #c4daf1;
}

#head {
	background: url(Bilder/head.jpg) left top repeat;
	border-bottom: 7px solid #ffffff;
}

#head_text {
	height: 100px;
}

/* TODO */
#head h1 {
	margin: 0;
	width: 1000px;
	margin: 0 auto;
	font-size: 24px;
	font-weight: bold;
	text-shadow: #ffffff 1px 1px 0;
	color: #c9c9c9;
	padding: 50px 0 0 0;
}

#navi {
	height: 34px;
	margin: 0 auto;
	width: 1000px;
}

#navi ul {
	padding: 0;
	margin: 0;
	padding-left: 44px;
	list-style-type: none;
}

#navi li {
	float: left;
	display: block;
	margin-right: 2px;
	background: #9bc3d4; /* fallback */
	/* Webkit */
	background-image: -webkit-gradient(
	    linear,
	    left top,
	    left bottom,
	    color-stop(0, #B1D0DD),
	    color-stop(1, #89B8CC)
	);
	background-image: -moz-linear-gradient(
	    center top,
	    #B1D0DD 0%,
	    #89B8CC 100%
	);
	/* IE */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b1d0dd', endColorstr='#89b8cc');
	/* CSS 3 */
	background: linear-gradient(top, #B1D0DD, #89B8CC);
	
	border-top: 1px solid #d0e2ea;
	
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	-moz-border-top-left-radius: 3px;
	-moz-border-top-right-radius: 3px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	
	text-shadow: #7994a0 0 -1px 0;
}

#navi li a {
	display: block;
	color: white;
	padding: 0 25px 0 25px;
	height: 33px;
	line-height: 33px;
	text-decoration: none;
	font-weight: bold;
}

#navi li:hover, #navi li.active {
	background: #ffffff;
	border-top-color: #ffffff;
}

#navi li:hover a, #navi li.active a {
	text-shadow: none;
	color: #666666;
}

#content {
	border-top: 1px solid #dadada;
}

#content>div {
	margin: 0 auto;
	margin-bottom: 20px;
	width: 880px;
}

.block h2 {
	background: #9bc3d4; /* fallback */
	/* Webkit */
	background-image: -webkit-gradient(
	    linear,
	    left top,
	    left bottom,
	    color-stop(0, #B1D0DD),
	    color-stop(1, #89B8CC)
	);
	background-image: -moz-linear-gradient(
	    center top,
	    #B1D0DD 0%,
	    #89B8CC 100%
	);
	/* IE */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b1d0dd', endColorstr='#89b8cc');
	/* CSS 3 */
	background: linear-gradient(top, #B1D0DD, #89B8CC);
	
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	-moz-border-top-left-radius: 3px;
	-moz-border-top-right-radius: 3px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	
	text-shadow: #7994a0 0 -1px 0;
	color: white;
	text-decoration: none;
	font-weight: bold;
	font-size: 12px;
	line-height: 37px;
	height: 37px;
	width: 880px;
	padding: 0 10px;
	margin: 25px 0 0 0;
}

.block table {
	width: 900px;
}

.block table th {
	background-image: url(Bilder/table_head.png); 
	text-align: left;
	height: 26px;
	line-height: 26px;
	color: #727272;
	font-weight: bold;
	font-size: 11px;
	text-shadow: white 1px 1px 0;
}

.block table td {
	padding: 5px 0;
	background-color: #eaeaea;
	border-top: 1px solid white;
	color: #777777;
	text-shadow: white 1px 1px 0;
	font-size: 12px;
	line-height: 18px;
}

.vmiddle td {
	vertical-align: middle;
}

.block table td h3, .block table td h3 a {
	font-size: 12px;
	font-weight: bold;
	color: #70a7bf;
}

.block table .left {
	padding-left: 10px;
	width: 475px;
}

.block table .left2 {
	padding-left: 10px;
}

.block table .center {
	padding-left: 5px;
	width: 200px;
	line-height: 16px;
}

.block table .right {
	padding-right: 10px;
	padding-left: 5px;
	width: 195px;
	line-height: 16px;
}

.block table tfoot td {
	padding: 10px;
}

.firstHeading {
	padding-left: 5px;
}

.block table .replyLeft,
.block table .newThreadLeft {
	padding-left: 10px;
	padding-right: 10px;
	border-right: 1px solid white;
	width: 150px;
	text-align: center;
}

.block table .newThreadLeft {
	text-align: right;
}

.block table .replyRight,
.block table .newThreadRight {
	padding-left: 10px;
	padding-right: 10px;
	width: 709px;
}

.reply_username {
	padding-top: 10px;
	display: block;
}

.reply_permission {
	display: block;
}

.reply_avatar {
	margin: 5px 0;
}

.addAction {
	float: right;
}

.addAction img {
	margin: 6px 0 0 0;
}

#content input[type=text], 
#content input[type=password] {
	width: 400px;
}

#content textarea {
	margin: 0;
	width: 600px;
	height: 180px;
	max-width: 600px;
}

.profile_avatar {
	margin: 5px 20px;
	float: left;
}

.profile_info {
	margin: 10px;
}

.profile_info dt {
	font-weight: bold;
	float: left;
	width: 200px;
}

.pagination {
	margin-top: 10px;
	text-align: center;
}

.pagination a {
	display: inline-block;
	margin: 0 10px 0 0;
}

.pagination a, button, input[type=submit], input[type=reset] {
	background: #9bc3d4; /* fallback */
	/* Webkit */
	background-image: -webkit-gradient(
	    linear,
	    left top,
	    left bottom,
	    color-stop(0, #B1D0DD),
	    color-stop(1, #89B8CC)
	);
	background-image: -moz-linear-gradient(
	    center top,
	    #B1D0DD 0%,
	    #89B8CC 100%
	);
	/* IE */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b1d0dd', endColorstr='#89b8cc');
	/* CSS 3 */
	background: linear-gradient(top, #B1D0DD, #89B8CC);
	
	border: none;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	
	text-shadow: #7994a0 0 -1px 0;
	color: white;
	text-decoration: none;
	font-weight: bold;
	font-size: 12px;
	line-height: 30px;
	height: 30px;
	padding: 0 10px;
	cursor: pointer;
}

.pagination a:hover, button, input[type=submit]:hover, input[type=reset]:hover {
	background: #a5d3e6; /* fallback */
	/* Webkit */
	background-image: -webkit-gradient(
	    linear,
	    left top,
	    left bottom,
	    color-stop(0, #bde0ef),
	    color-stop(1, #9bc3d4)
	);
	background-image: -moz-linear-gradient(
	    center top,
	    #bde0ef 0%,
	    #9bc3d4 100%
	);
	/* IE */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bde0ef', endColorstr='#9bc3d4');
	/* CSS 3 */
	background: linear-gradient(top, #bde0ef, #9bc3d4);
	
}

#footer {
	text-align: center;
	color: #7a7a7a;
	padding-bottom: 50px;
}
